@model IEnumerable<EntityLayer.Concrete.DietList>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bootstrap Card Örneği</title>
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://placekitten.com/300/200" class="card-img-top" alt="Kedi Resmi">
                        <div class="card-body">
                            <h5 class="card-title">@x.Target</h5>
                            <p class="card-text">Kahvaltı : @x.Dinner

                                <br>

                                Öğle Yemeği : @x.Breakfast 
                                
                                <br>

                                Akşam Yemeği : @x.Lunch

                                </p>
                            <p class="card-text">Günlük Kalori: @x.DailyCalories </p>
                            <form action="/DietLists/DietPage" method="get">
                                <input type="hidden" name="DietListId" value="@x.DietListId"/>
                                <input type="submit" class="btn btn-primary" value="Detaylı Görünüm">
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>

