
@{
    ViewData["Title"] = "ListUsersByTrainerId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EntityLayer.Concrete;
@model IEnumerable<EntityLayer.Concrete.User>;


<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <br />
    <br />
    <div class="card-container">
        @foreach (var x in Model)
        {
            <div class="card">
                <h1>@x.Name @x.Surname @x.Sex @x.BirthDate @x.PhoneNumber @x.Mail </h1>
                @*Listenenler içinden antrenörün seçtikleri sayfanın altında belirteceği danışana atanır.
            Ayrıca kart olarak listelediğimiz düzenleme butonu ekleyip,düzenleyebiliriz.  *@
            </div>

        }
    </div>
</body>
</html>


